annotated-doc==0.0.4
anyio==4.14.1
beautifulsoup4==4.15.0
blinker==1.9.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
curl_cffi==0.15.0
filelock==3.29.0
-e git+https://github.com/dardouririhem721-create/finapi-lab1@d1b3a732afa07d4941ba777091d103ebb6a1feca#egg=finapi
Flask==3.1.3
fsspec==2026.4.0
greenlet==3.5.3
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.21.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
multitasking==0.0.13
networkx==3.6.1
numpy==2.5.0
packaging==26.2
pandas==3.0.3
peewee==4.1.0
platformdirs==4.10.0
protobuf==7.35.1
pycparser==3.0
Pygments==2.20.0
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
regex==2026.5.9
requests==2.34.2
rich==15.0.0
safetensors==0.8.0
setuptools==70.2.0
shellingham==1.5.4
six==1.17.0
soupsieve==2.8.4
SQLAlchemy==2.0.51
sympy==1.14.0
tokenizers==0.22.2
torch==2.9.0+cpu
tqdm==4.68.3
transformers==5.12.1
typer==0.25.1
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
websockets==16.0
Werkzeug==3.1.8
yfinance==1.4.1
